<div class="video-player-container frame-shadow--primary">

  <div class="video-player-header padding-2">
    <h1 class="pm-0 header-1 padding-in-2 color-text--swhite">Playing requested media:</h1>
    <h1 class="pm-0 header-1 padding-in-2 color-text--swhite"></h1> <!-- not needed-->
  </div>

  <div class="vid-c" #vidContainer>
    <video-player [canBeClosed]="true" [videoSource]="sourceEmitter.asObservable()" [videoLoop]="false" (closeVideo)="removeVideo()"></video-player>
  </div>

  <div class="video-player-footer padding-2">
    <h1 class="pm-0 header-1 padding-in-2 color-text--swhite">{{videoName}}</h1>
  </div>

</div>
