<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../../general.css">
  <link rel="stylesheet" href="./css/on-workout-main.css">
</head>
<body>
  <div class="show-container" id="no-include" data-include="no">

    <div class="video-player-container">

      <div class="video-player-header padding-2">
        <h1 class="pm-0 header-1 padding-in-2 color-text--swhite">Upper Body - M+</h1>
        <h1 class="pm-0 header-1 padding-in-2 color-text--swhite">3 / 7</h1>
      </div>

      <!-- this need to be done better with javascript-->
      <div class="overlay">
        <img src="./../../assets/play-button.png" alt="play button">
      </div>

      <video src="./../../assets/cactus.mp4">
      </video>

      <div class="video-player-footer padding-2">
        <h1 class="pm-0 header-1 padding-in-2 color-text--swhite">Bicep Curls</h1>
        <h1 class="pm-0 header-1 padding-in-2 color-text--swhite">2 - 0</h1>
      </div>
    </div>

  </div>
</body>
</html>

