<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On - Workout</title>
</head>
<body class="page-body">
  <div class="page-flex-container align-center">
    <timer></timer>

    <!-- this in a dynamic mirror broadcaster / gets "toggled" if needed be -->
    <mirror *ngIf="mirrorState" [bundle]="mirrorBundle" (removeMe)="removeMirror()"></mirror>

    <main></main>

    <!-- this is a dynamic player / gets "toggled" if needed be -->
    <secondary-video *ngIf="ClosedState" [videoInfo]="videoInfoEmitter.asObservable()" (removeMe)="removeMediaVideo()"></secondary-video>

    <!-- this one get removed if final array is empty-->
    <comming-up *ngIf="commingUpClose" (removeMe)="removeCommingUp()"></comming-up>
  </div>
</body>
</html>

