<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="body-inner">
    <login></login>
    <today></today>
    <other-day></other-day>
    <other-day1></other-day1>
    <other-day2></other-day2>
    <other-day3></other-day3>
    <other-day4></other-day4>
    <other-day5></other-day5>
    <footer-calendar></footer-calendar>
  </div>

</body>
</html>
