.selection-container {

  background-image: url('./../../../assets/background-component-selection.png');

  width: 770px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;

}

.selection-header {

  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
}

.button-selection-group {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;

  margin-left: auto;

  border-radius: 10px;
}

.selection-searchbar {
  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  gap: .8rem;
  padding: .3rem;

}

.selection-searchbox {
  appearance: none !important;
  width: 90%;
}

.search-box {

  line-height: 1;
  height: 2.2rem;
  width: 95%;

  border-radius: 5px;
}

.mic-icon-container {
  width: 5%;
}

.close-container {
  position: relative;
  width: 100%;
  height: 40px;
}

.close-mark {
  position: absolute;
  right: 0;
  top: 0;
}

.exersice-list--container {
  width: 90%;
  height: 500px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: flex-start;

  gap: .8rem;
}

/* this does not work for some reason... */
/* .exersice-list--container:nth-child(2n) {
  background-color: #505050;
} */

.exersice-list--entry {

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
}

.entry--left {
  width: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
}

.number-container {
  text-align: center;
  padding: 0.4rem;
}

.hardness-container {
  text-align: center;
  padding-block: .5rem;
}

.entry--right {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.entry--info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

