/* importing the font ( found on the fonts folder ) */
@font-face {
  font-family: RedHatDisplay;
  src: url('./../fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
}

/* SETTING DEFAULTS !!! */

body {
  font-family: RedHatDisplay;
}

/* SETTING UTILITY CLASSES */

/* FONTS */
.title-1,
.header-1,
.header-2,
.header-3,
.header-4,
.para-1,
.para-2 {
  font-weight: 400;
}

.title-1 {
  font-size: 2.5rem; /* 40px */
}

.header-1 {
  font-size: 1.875rem; /* 30px */
}

.header-2 {
  font-size: 1.563rem;  /* 25px */
}

.header-3 {
  font-size: 1.375rem;  /* 22px */
}

.header-4 {
  font-size: 1.25rem;   /* 20px */
}

.para-1 {
  font-size: 1.25rem;   /* 20px */
}

.para-2 {
  font-size: 0.938rem;  /* 15px */
}

/* COLORS */

/* flurescent */
.color-text--flurescent--red {
  color: #D92525;
}

.color-br--flurescent--red {
  background-color: #D92525;
}

/* suggary white */
.color-text--swhite {
  color: #F7F7F7;
}

.color-br--swhite {
  background-color: #F7F7F7;
}

/* shades */
.color-text--shade--darkest {
  color: #323232;
}

.color-text--shade--dark {
  color: #505050;
}

.color-text--shade--medium {
  color: #777777;
}

.color-text--shade--light {
  color: #9D9D9D;;
}

.color-text--shade--lighter {
  color: #BEBEBE;
}

.color-text--shade--lightest {
  color: #D8D8D8;
}

.color-text--shade--nearWhite {
  color: #EDECEC;
}

.color-br--shade--dark {
  background-color: #323232;
}

.color-br--shade--dark {
  background-color: #505050;
}

.color-br--shade--medium {
  background-color: #777777;
}

.color-br--shade--light {
  background-color: #9D9D9D;;
}

.color-br--shade--lighter {
  background-color: #BEBEBE;
}

.color-br--shade--lightest {
  background-color: #D8D8D8;
}

.color-br--shade--nearWhite {
  background-color: #EDECEC;
}


/* general attributes that should be used everywhere */

.round-corners--primary {
  border-radius: 5px;
}

.frame-shadow--primary {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.69));
}


/* GENERAL TEXT STYLING */
.text--centered {
  text-align: center;
}



/* GENERAL MARGIN PADDING PREFIXES */

.padding-left-1 {
  padding-left: 2rem !important;
}

.pm-0 {
  padding: 0;
  margin: 0;
}

.padding-1 {
  padding: .5rem;
}

.padding-bl-1 {
  padding-block: .6rem;
}

.padding-bl-2 {
  padding-block: .9rem;
}

.margin-top-1 {
  margin-top: 2rem;
}

.margin-top-2 {
  margin-top: 4rem;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}



/* a container to center the component in the center for easy viewing */
/* use in raw only */
.show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;
}

.clickable-card:hover {
  cursor: pointer;
}



