<div class="videos-container round-corners--primary frame-shadow--primary color-br--shade--darkest ">
  <h1 class="title-1 color-text--swhite ">Added Recently:</h1>
  <div class="videos-row fbutton">

      <div class="video v1 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video1trainer.png" alt="video1trainer">
              <h4 class="header-4 color-text--swhite ">Bodyweight Crossfit<br />with ropes</h4>
          </div>
          <p class="para-2 color-text--swhite">Carl Johnson </p>
      </div>

      <div class="video v2 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video2trainer.png" alt="video2trainer">
              <h4 class="header-4 color-text--swhite ">HIIT HOT SERIES 2</h4>
          </div>
          <p class="para-2 color-text--swhite">Max Holloway</p>
      </div>

      <div class="video v3 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video3trainer.png" alt="video1trainer">
              <h4 class="header-4 color-text--swhite ">AEROBIC Dance of the<br />Fat Loss Devil</h4>
          </div>
          <p class="para-2 color-text--swhite">Paul Lano</p>
      </div>
  </div>

  <h1 class="title-1 color-text--swhite ">Trending:</h1>
  <div class="videos-row fbutton">

      <div class="video v4 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video4trainer.png" alt="video1trainer">
              <h4 class="header-4 color-text--swhite ">TRX Gain series 2</h4>
          </div>
          <p class="para-2 color-text--swhite">Athlean-X</p>
      </div>

      <div class="video v5 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video5trainer.png" alt="video2trainer">
              <h4 class="header-4 color-text--swhite ">GLUTE - Sculp your<br />booty</h4>
          </div>
          <p class="para-2 color-text--swhite">Jenna Selter</p>
      </div>

      <div class="video v6 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video6trainer.png" alt="video1trainer">
              <h4 class="header-4 color-text--swhite ">Dynamic Streching<br />(for beginners)</h4>
          </div>
          <p class="para-2 color-text--swhite">Strechers</p>
      </div>
  </div>

  <h1 class="title-1 color-text--swhite ">Yoga Intermediate users also tried:</h1>
  <div class="videos-row fbutton">

      <div class="video v7 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video7trainer.png" alt="video1trainer">
              <h4 class="header-4 color-text--swhite ">Ashtanga Yoga<br />Introduction </h4>
          </div>
          <p class="para-2 color-text--swhite">Gupta Aldi</p>
      </div>

      <div class="video v8 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video8trainer.png" alt="video2trainer">
              <h4 class="header-4 color-text--swhite ">Rope Yoga</h4>
          </div>
          <p class="para-2 color-text--swhite">Rose Nama</p>
      </div>

      <div class="video v9 round-corners--primary">
          <div class="trainer-title">
              <img src="./../../../../assets/video9trainer.png" alt="video1trainer">
              <h4 class="header-4 color-text--swhite ">Meditation 1</h4>
          </div>
          <p class="para-2 color-text--swhite">Nick Diaz</p>
      </div>
  </div>

</div>
