<!-- same html and css here but for QUICK workout -->
<div routerLink="/mobile-onworkout" class="sched-workout color-br--shade--dark round-corners--primary frame-shadow--primary">
  <div class="sched-text">
      <h2 class="header-2 color-text--swhite">Quick workout</h2>
      <div class="day-workout">
          <h4 class="header-4 color-text--swhite">Suggested:</h4>
          <h4 class="header-4 color-text--swhite padding-left-1">Yoga - E</h4>
      </div>
  </div>
  <div class="thearrow">
      <img src="./../../../../assets/arrow-circle-right--white.svg" class="fadeout" alt="video1trainer">
  </div>
</div>
