<div class="today-box color-br--shade--dark round-corners--primary frame-shadow--primary">

  <span class="first-title"><h4 class=" header-4 color-text--swhite">Today<span class="text18 color-text--swhite"> ( Friday 22 / 10 )</span></h4></span>
  <div class="exercise-box color-br--shade--darkest round-corners--primary">
      <h4 routerLink="/mobile-onworkout" class="header-4 color-text--swhite">Upper Body - M</h4>
      <img src="./../../../../assets/X-circle.svg" alt="video1trainer">
  </div>
  <div class="exercise-box color-br--shade--darkest round-corners--primary">
      <h4 routerLink="/mobile-onworkout" class="header-4 color-text--swhite">Yoga - M</h4>
      <img src="./../../../../assets/X-circle.svg" alt="video1trainer">
  </div>

  <div class="symbols-line-container">
      <div class="plus-rounded ">
          <h2 class="color-br--shade--darkest round-corners--primary header-2 color-text--swhite">+</h2>
      </div>
      <div class="interval-container plus-rounded">
          <h2 class="leftie color-br--shade--darkest  header-2 color-text--swhite">-</h2>
          <h4 class="header-4 color-text--swhite">interval</h4>
          <h2 class="rightie color-br--shade--darkest header-2 color-text--swhite">+</h2>
      </div>
  </div>
</div>
