<div class="onworkout-container color-br--shade--dark frame-shadow--primary round-corners--primary">
  <div class="text-rep">
      <h4 class="header-4 color-text--swhite">Upper body - M+</h4>
      <h4 class="header-4 color-text--swhite">3 / 7</h4>
  </div>
  <div class="text-camera color-br--shade--darkest">
      <div class="color-br--shade--dark round-corners--primary">
          <h4 class="header-4 color-text--swhite">Enable camera as Mirror</h4>
      </div>
      <img src="./../../../../assets/cameraMirror.svg" alt="video1trainer">
  </div>
  <div class="text-set-rep ">
      <h4 class="header-4 color-text--swhite">Set</h4>
      <h4 class="header-4 color-text--swhite">Rep</h4>
  </div>
  <div class="numbers color-br--shade--darkest">
      <span class="number color-text--swhite">2</span>
      <span class="number color-text--swhite">3</span>
  </div>
  <!-- same class text-rep for exercise and total reps needed-->
  <div class="text-rep">
      <h4 class="header-4 color-text--swhite">Bicep Curls</h4>
      <h4 class="header-4 color-text--swhite">( 3 x 12 )</h4>
  </div>

</div>
