<div class="box-expanded color-br--swhite round-corners--primary frame-shadow--primary">
  <img src="./../../../../assets/fire-circled.png" alt="video1trainer">
  <div class=" box-text-area box-right">
      <span class=" box-title header-3 color-text--shade--darkest">Calories</span>
      <span class="box-content header-4 color-text--shade--lighter"><span class="header-1 box-content" style="color: #F2451A;">121</span>&nbsp; burned  <div class="color-text--shade--medium">&nbsp;today</div></span>
      <span class="box-content header-4 color-text--shade--lighter"><span class="header-1 box-content" style="color: #F2451A;">452</span>&nbsp; burned  <div class="color-text--shade--medium">&nbsp;this week</div></span>
      <span class="box-content header-4 color-text--shade--lighter"><span class="header-1 box-content" style="color: #F2451A;">154</span>&nbsp; burned  <div class="color-text--shade--medium">&nbsp;daily avg</div></span>
  </div>
</div>
