<div class="timer-container round-corners--primary frame-shadow--primary padding-top-2">
  <div class="current-time-container">
    <div class="icon-container">
      <img src="./../../assets/clock-icon.svg" alt="clock icon">
    </div>
    <h1 class=" pm-0 font-digital timer-fsize color-text--swhite justify-self-end" #globalTime>16:44</h1>
  </div>
  <div class="current-time-container">
    <div class="icon-container">
      <img src="./../../assets/clickboard-clock-icon.svg" alt="clock icon">
    </div>
    <h1 class=" pm-0 font-digital timer-fsize color-text--swhite justify-self-end" #workoutTime>--:--:--</h1>
  </div>
  <div class="heart-rate-container color-br--shade--dark padding-bottom-2">
    <h1 class="pm-0 timer-fsize color-text--swhite" #heartRate>92</h1>
    <h2 class="pm-0 header-1 color-text--swhite">bpm</h2>
    <div class="icon-container">
      <img class="pm-0" src="./../../assets/up-trending-icon.svg" alt="up trending icon" #heartPresentageIcon>
    </div>
    <h2 class="pm-0 header-1 color-text--swhite" #heartPresentage>2.3%</h2>
  </div>
  <div class="pause-container color-br--shade--darkest padding-bottom-2" (click)="pauseStartTimer()">
    <img src="./../../../../assets/player-pause.svg" alt="Pause Workout" width="80" height="80" #workoutPauseImg>
    <img src="./../../../../assets/player-play.svg" alt="Resume Workout" width="80" height="80" #workoutPlayImg>
  </div>
</div>
