
.body-inner {
  width: 100vh;
  height: 100vh;

}
body {
  background-image: url(./../../../assets/mobile-index-background.png);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}

.hello-text {
  text-align: center;
}

.hello-text p{
  font-size: 28px;
}

.name-tone {
  font-weight: 600;
}

