<div class="jessica-box color-br--shade--darkest round-corners--bottom frame-shadow--primary">
  <div routerLink="/mobile-index" class="x">
      <img src="./../../../../assets/profile Jessica.png" alt="video1trainer">
      <div class="user-info">
          <h3 class="header-3 color-text--swhite">Jessica Lorenda Mires</h3>
          <p class="para-2 color-text--swhite">last login:  19 hours ago</p>
      </div>
  </div>
  <div class="turn-off">
      <img src="./../../../../assets/power-icon-plain.svg" alt="video1trainer">
  </div>
</div>
