
  <div class="funfacts black-box-container round-corners--primary frame-shadow--primary">
    <h1 class="title-1 color-text--swhite ">Fun Facts</h1>

    <div class="graybox round-corners--primary">
        <div class="icons-boxes-contairer">

            <div class="icon-box text--centered">
            <img src="./../../../../assets/fire.png" alt="fire calories">
            <h3 class="header-3 color-text--shade--medium  ">total kcal burned </h3>
            <h3 class="header-3 color-text--swhite  ">42.938 </h3>
            </div>

            <div class="icon-box text--centered">
                <img src="./../../../../assets/mpara.png" alt="weight lifter">
                <h3 class="header-3 color-text--shade--medium ">hours trained </h3>
                <h3 class="header-3 color-text--swhite  ">209 </h3>
            </div>
        </div>

        <div class="lightgraybox color-br--swhite round-corners--primary">
            <div class="funfactwords" (click)="changeFact(factOutput)">
                <p class="para-2 color-text--shade--medium" #factOutput> Your calories could light a bulb for  <span class="color-text--shade--darkest"> 213</span> hours. </p>
            </div>
            <div class="recycle">
                <img src="./../../../../assets/recycle.png" alt="recycle new quote">
            </div>
        </div>
    </div>
</div>

