<div class="main-box black-box-container round-corners--primary frame-shadow--primary">
  <div class="left-container">
      <div class="calories-box color-br--shade--dark  round-corners--primary ">
          <img src="./../../../../assets/firekcal.png" alt="fire kcal">
          <div class="stat-box">
              <h1 class="header-1 color-text--swhite ">Calories</h1>
              <span><span class="header-1 " style="color: #F2451A;">121</span> <span class="header-4 color-text--shade--lighter ">burned<br>today</span></span>
          </div>
          <div class="stat-box">
              <h1 class="header-1 color-text--shade--dark ">Calories</h1>
              <span><span class="header-1 " style="color: #F2451A;">452</span> <span class="header-4 color-text--shade--lighter ">burned<br>this week</span></span>
          </div>
          <div class="stat-box">
              <h1 class="header-1 color-text--shade--dark ">Calories</h1>
              <span><span class="header-1 " style="color: #F2451A;">134</span> <span class="header-4 color-text--shade--lighter ">burned<br>daily avg</span></span>
          </div>

      </div>

      <div class="calories-box color-br--shade--dark  round-corners--primary">
          <img src="./../../../../assets/bpm.png" alt="bpm">
          <div class="stat-box">
              <h1 class="header-1 color-text--swhite ">BPM</h1>
              <span><span class="header-1 " style="color: #D92525;">93</span> <span class="header-4 color-text--shade--lighter ">burned<br>today</span></span>
          </div>
          <div class="stat-box">
              <h1 class="header-1 color-text--shade--dark ">Calories</h1>
              <span><span class="header-1 " style="color: #D92525;">102</span> <span class="header-4 color-text--shade--lighter ">burned<br>this week</span></span>
          </div>
          <div class="stat-box">
              <h1 class="header-1 color-text--shade--dark ">Calories</h1>
              <span><span class="header-1 " style="color: #D92525;">98</span> <span class="header-4 color-text--shade--lighter ">burned<br>daily avg</span></span>
          </div>

      </div>
  </div>
  <div class="right-container">
      <img src="./../../../../assets/chart.png" alt="chart">
  </div>

</div>
