<div class="user-container">
  <div class="user-text">
    <h1 class="fullname pm-0 font--Roboto text--italics header-1 color-text--swhite">Jessica Lorenda Mires</h1>
    <h3 class="last-login pm-0 font--Roboto para-25 color-text--swhite">last login: 19 hours ago</h3>
  </div>
  <div class="profile-pic-container">
    <img src="./assets/profile Jessica.png" width="72px" height="72px" alt="user profile pic">
  </div>
  <div class="gear-icon-container clickable-card">
    <img src="./assets/gear-icon-plain.svg" alt="settings icon">
  </div>
  <div class="power-icon-container clickable-card">
    <img src="./assets/power-icon-plain.svg" alt="settings icon">
  </div>

</div>
