<div routerLink="/mobile-stats" class="box-expanded color-br--swhite round-corners--primary frame-shadow--primary">
  <img src="./../../../../assets/heart-red-circled.png" alt="video1trainer">
  <div class=" box-text-area box-right">
      <span class=" box-title header-3 color-text--shade--darkest">BPM</span>
      <span class="box-content header-4 color-text--shade--lighter"><span class="header-1 box-content" style="color: #D92525;">93</span>&nbsp; burned  <div class="color-text--shade--medium">&nbsp;today</div></span>
      <span class="box-content header-4 color-text--shade--lighter"><span class="header-1 box-content" style="color: #D92525;">102</span>&nbsp; burned  <div class="color-text--shade--medium">&nbsp;this week</div></span>
      <span class="box-content header-4 color-text--shade--lighter"><span class="header-1 box-content" style="color: #D92525;">98</span>&nbsp; burned  <div class="color-text--shade--medium">&nbsp;daily avg</div></span>
  </div>
</div>
