.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.align-equal {
  align-items: center;
  justify-content: space-evenly;

}

.align-center {
  align-items: center;
  justify-content: center;

}

.header-2 {
  font-size: 1.5rem;
}

.header-3 {
  font-size: 1.2rem;
}

.text-1 {
  font-size: 1rem;
}

.mar-block {
  margin-block: 1rem;
}

.mar-top {
  margin-top: 3rem;
}

.btn {
  appearance: none;

  padding: .3rem;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(163, 212, 89);
}

.btn-secondary {
  background-color: rgb(209, 209, 209);
}

.btn-trid {
  background-color: goldenrod;
  border-color: goldenrod;
}

.btn-trid:hover {

  background-color: rgb(185, 142, 34);
  border-color: rgb(185, 142, 34);
}

.infoHeader {
  text-align: center;
}
