<div id="gcontainer" class="flex-column align-center box-setsize">
  <!-- Display exercise information -->
  <div id="infolist" class="header-2">
    <div class="infoHeader mar-block">This is a hidden page for debugging use only.</div>

    <h2 class="infoHeader mar-block header-3">Workout State Debugger.</h2>

    <ul id="stateshowlist" class="text-1">
      <li class="header-3">Workout Condition is: <span style="float: right; font-weight: 600;">{{currentExerciseState.condition}}</span></li>
      <li class="header-3">Exercise index: <span style="float: right; font-weight: 600;">{{currentExerciseState.exerciseNo}}</span></li>
      <li *ngIf="currentExerciseState.currSet != undefined" class="header-3">Current Set is: <span style="float: right; font-weight: 600;">{{currentExerciseState.currSet}}</span></li>
      <li *ngIf="currentExerciseState.currRep != undefined" class="header-3">Current Rep is: <span style="float: right; font-weight: 600;">{{currentExerciseState.currRep}}</span></li>
    </ul>

    <ul id="stateshowlist" class="text-1">
      <li class="header-3">Exercise name: <span style="float: right; font-weight: 600;">{{currentExerciseState.currExercise.name}}</span></li>
      <li class="header-3">All sets: <span style="float: right; font-weight: 600;">{{currentExerciseState.currExercise.sets}}</span></li>
      <li *ngIf="currentExerciseState.currExercise.reps != undefined" class="header-3">All reps: <span style="float: right; font-weight: 600;">{{currentExerciseState.currExercise.reps}}</span></li>
      <li *ngIf="currentExerciseState.currExercise.countDownTimeInSecs != undefined" class="header-3">Countdown time is: <span style="float: right; font-weight: 600;">{{currentExerciseState.currExercise.countDownTimeInSecs}}</span></li>
      <li class="header-3">Type is: <span style="float: right; font-weight: 600;">{{currentExerciseState.currExercise.type}}</span></li>
    </ul>

    <div id="button-container" class="flex-row align-equal mar-top">
      <div class="btn btn-primary btn-trid" (click)="fetchExState()">Get State</div>
      <div class="btn btn-primary" (click)="upExState()">Up state</div>
      <div class="btn btn-secondary" (click)="resetExState()">Reset State</div>
    </div>

    <h2 class="infoHeader mar-block header-3 padding-top-2">Secondary Media Debugger.</h2>

    <ul class="stateshowlist" class="text-1">
      <li class="header-3">Video Name is: <span style="float: right; font-weight: 600;">{{secondaryMediaState.name}}</span></li>
      <li class="header-3">Video Path is: <span style="float: right; font-weight: 600;">{{secondaryMediaState.path}}</span></li>
    </ul>

    <div id="button-container" class="flex-row align-equal mar-top">
      <div class="btn btn-primary btn-trid" (click)="fetchSecondaryState()">Get State</div>

      <select name="videoSelection" id="videoSelection" #secondaryVideoSelection>
        <option value="cactus">Cactus Meme Video</option>
        <option value="another">Another Video</option>
      </select>

      <div class="btn btn-primary" (click)="setSelected()">Set</div>
    </div>

    <h2 class="infoHeader mar-block header-3 padding-top-2">Music Player Debugger.</h2>

    <ul class="stateshowlist" class="text-1">
      <li class="header-3">Music state: <span style="float: right; font-weight: 600;">{{musicState.status}}</span></li>
      <li class="header-3">Track Selected: <span style="float: right; font-weight: 600;">{{musicState.song.name}}</span></li>
      <li class="header-3">Track index: <span style="float: right; font-weight: 600;">{{musicState.index}}</span></li>
      <li class="header-3">Volume: <span style="float: right; font-weight: 600;">{{musicState.volume}}</span></li>
    </ul>

    <div id="button-container" class="flex-row align-equal mar-top">
      <div class="btn btn-primary btn-trid" (click)="getMusicState()">Get State</div>

      <select name="musicSelection" id="musicSelection" #musicSelection>
        <option value="next">Play Next Track</option>
        <option value="Lose Yourself">Eminem - Lose Yourself</option>
        <option value="Venom">Eminem - Venom</option>
        <option value="Without Me">Eminem - Without Me</option>
        <option value="Killshot">Eminem - Killshot</option>
        <option value="Milli Rocks">D4DJ - Milli Rocks</option>
      </select>

      <div class="btn btn-primary" (click)="setTrack()">Set</div>
    </div>

    <div id="button-container" class="flex-row align-equal mar-top">
      <div class="btn btn-primary" (click)="setMusicPlaying()">Play</div>
      <div class="btn btn-secondary" (click)="setMusicPaused()">Pause</div>
      <div class="btn btn-secondary" (click)="resetMusicState()">Reset</div>

      <select name="volumeSelection" id="volumeSelection" #volumeSelection>
        <option value="0.05">5%</option>
        <option value="0.1">10%</option>
        <option value="0.2" selected>20%</option>
        <option value="0.4">40%</option>
        <option value="0.6">60%</option>
        <option value=".8">80%</option>
        <option value="1">100%</option>
      </select>

      <div class="btn btn-primary" (click)="changeVolume()">Set Vol</div>
    </div>


    <h2 class="infoHeader mar-block header-3 padding-top-2">Phone camera streaming ( Mirror ) Debugger.</h2>

    <video  #vShow>Video not supported.</video>
    <canvas #vCanvas id="canvas">
    </canvas>

    <div id="button-container" class="flex-row align-equal mar-top">
      <div class="btn btn-primary" (click)="startShare()">Start Sharing</div>
      <div class="btn btn-secondary"(click)="stopShare()">Stop Sharing</div>
    </div>

  </div>

</div>
