<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Closed</title>
  <link rel="stylesheet" href="./../../general.css">
  <link rel="stylesheet" href="./css/component-calendar-closed.css">
</head>
<body>
  <!-- do not include the div bellow -->
  <div class="show-container" id="no-include" data-include="no">
    <div class="calender-closed-component-container round-corners--primary frame-shadow--primary">

      <div class="calendar-title-row">
        <h1 class="pm-0 title-1 block-setsize color-text--swhite">Calendar</h1>

        <div class="manage-button">
          <h3 class="pm-0 header-2 button-prim color-br--swhite">Manage</h3>
        </div>

        <div class="mode-button button-switch color-br--swhite">
          <h3 class="pm-0 header-2 button-switch--checked color-text--swhite color-br--shade--medium">Week</h3>
          <h3 class="pm-0 header-2 button-switch--unchecked color-text--shade-darkest">Month</h3>
        </div>
      </div>

      <div class="calendar-days-row color-text--swhite font-weight-400">
        <div class="calendar-day--container container-big">
          <h2 class="pm-0 title-text header-1">Today <span class="subtext-big text--overflow-ellipsis">( Friday 22/10 )</span></h2>
          <h3 class="pm-0 workouts-text header-3 main">&#8203;<span class="float-right text--overflow-ellipsis">HIIT - M+, Yoga - M</span></h3>
          <h3 class="pm-0 duration-text header-3 sub">Duration: <span class="subtext-big float-right text--overflow-ellipsis">30 mins, 20 mins</span></h3>
          <h3 class="pm-0 interval-text header-3 sub">Workout Interval: <span class="subtext-big float-right text--overflow-ellipsis">3 hours</span></h3>
        </div>
        <div class="calendar-day--container container-med">
          <h2 class="pm-0 title-text header-2">Tomorrow <span class="subtext-big text--overflow-ellipsis">( Saturday 23/10 )</span></h2>
          <h3 class="pm-0 workouts-text header-3">&#8203;<span class="float-right text--overflow-ellipsis">Cardio - E+, Yoga - M</span></h3>
        </div>
        <div class="calendar-day--container container-med">
          <h2 class="pm-0 title-text header-2">Sunday <span class="subtext-big">( 24/10 )</span></h2>
          <h3 class="pm-0 workouts-text header-3">&#8203;<span class="float-right text--overflow-ellipsis">Yoga - M</span></h3>
        </div>
        <div class="calendar-day--container container-smol">
          <h2 class="pm-0 title-text header-4">Monday <span class="subtext-big">( 25/10 )</span></h2>
          <h3 class="pm-0 workouts-text para-2">&#8203;<span class="float-right text--overflow-ellipsis">Upper Body - M, Yoga - E</span></h3>
        </div>
        <div class="calendar-day--container container-smol">
          <h2 class="pm-0 title-text header-4">Tuesday <span class="subtext-big">( 26/10 )</span></h2>
          <h3 class="pm-0 workouts-text para-2">&#8203;<span class="float-right text--overflow-ellipsis">HIIT - M+</span></h3>
        </div>
        <div class="calendar-day--container container-smol">
          <h2 class="pm-0 title-text header-4">Wedn... <span class="subtext-big">( 27/10 )</span></h2>
          <h3 class="pm-0 workouts-text para-2">&#8203;<span class="float-right text--overflow-ellipsis">Yoga - M+</span></h3>
        </div>
        <div class="calendar-day--container container-smol">
          <h2 class="pm-0 title-text header-4">Thursday <span class="subtext-big">( 28/10 )</span></h2>
          <h3 class="pm-0 workouts-text para-2">&#8203;<span class="float-right text--overflow-ellipsis">Core - H+, Yoga - M</span></h3>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
