<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Closed</title>
  <link rel="stylesheet" href="./../../general.css">
  <link rel="stylesheet" href="./css/component-calendar-closed.css">
</head>
<body>
  <div class="show-container">
    <div class="calender-closed-component-container round-corners--primary frame-shadow--primary">

      <div class="calendar-title-row">
        <h1 class="pm-0 title-1 block-setsize color-text--swhite">Calendar</h1>

        <div class="manage-button">
          <h3 class="pm-0 header-2 button-prim color-br--swhite">Manage</h3>
        </div>

        <div class="mode-button button-switch color-br--swhite">
          <h3 class="pm-0 header-2 button-switch--checked color-text--swhite color-br--shade--medium">Week</h3>
          <h3 class="pm-0 header-2 button-switch--unchecked color-text--shade-darkest">Month</h3>
        </div>
      </div>

      <div class="calendar-days-row">

      </div>
    </div>
  </div>
</body>
</html>
