<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selection</title>
  <link rel="stylesheet" href="./../../general.css">
  <link rel="stylesheet" href="./css/component-selection.css">
</head>
<body>
  <!-- do not include in angular elements with data-include="no" tag-->
  <div class="show-container" id="no-include" data-include="no">
    <div class="selection-container round-corners--primary frame-shadow--primary">
      <div class="close-container">
        <img class="close-mark frame-shadow--primary" src="./../../assets/triangle-close.svg" alt="close icon">
      </div>
      <div class="selection-header">
        <h1 class="header-1 padding-in-1 color-text--swhite">Workouts</h1>
        <div class="button-selection-group color-br--swhite margin-in-1">
            <h3 class="header-2 pm-0 button-switch--checked color-br--shade--dark color-text--swhite">Focus</h3>
            <h3 class="header-2 pm-0 button-switch--unchecked color-text--shade--darkest">Intense</h3>
            <h3 class="header-2 pm-0 button-switch--unchecked color-text--shade--darkest">Wellness</h3>
        </div>
      </div>
      <div class="selection-searchbar color-br--shade--dark round-corners--primary">
        <div class="selection-searchbox">
          <input class="search-box margin-in-1 header-3 padding-in-1 color-text--shade--darkest" type="text" placeholder="Search...">
        </div>
        <div class="mic-icon-container">
          <img src="./../../assets/mic-icon.svg" alt="mic icon">
        </div>
      </div>

    </div>
  </div>
</body>
</html>
