<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/component-start.css">
  <link rel="stylesheet" href="./css/general.css">
</head>
<body>
  <!-- do not include in angular elements with data-include="no" tag-->
  <div class="show-container" id="no-include" data-include="no">
    <div class="start-component-container round-corners--primary frame-shadow--primary">

      <h1 class="title-1 color-text--swhite text--centered margin-top-1">Nice to see you, Jessica</h1>
      <h1 class="title-1 color-text--swhite text--centered margin-top-2">Time for:</h1>

      <div class="sched-workout-container button--start clickable-card color-br--shade--dark round-corners--primary">
        <div class="button--start-left">

          <div class="start--row-container">
            <h3 class="pm-0 header-2 padding-top-06 padding-left-1 color-text--swhite">Scheduled Workout</h3>
          </div>

          <div class="start--row-container start--flex-row">
            <h4 class="pm-0 header-4 padding-bottom-06 padding-left-1 color-text--swhite">Friday</h4>
            <h4 class="pm-0 header-4 padding-bottom-06 padding-left-1 color-text--swhite">HIIT M+</h4>
          </div>

        </div>

        <div class="button--start-right">
          <div class="button-icon-container color-br--shade--dark">
            <img src="./assets/arrow-circle-right--white.svg" alt="arrow pointing right">
          </div>
        </div>

      </div>

      <div class="custom-workout-container button--start-multiple clickable-card color-br--shade--dark rowgap round-corners--primary">
        <div class="start--row">
          <h3 class="header-2 pm-0 padding-bl-1 text--centered color-text--swhite">Custom Selection</h3>
        </div>
        <div class="start--row">
          <h3 class="header-3 pm-0 padding-bottom-1 text--centered color-text--swhite">Open Workout Library</h3>
        </div>
        <div class="button-row">
          <div class="button-icon-container padding-bl-2">
            <img src="./assets/focus icon.svg" alt="arrow pointing right">
          </div>
          <div class="button-icon-container padding-bl-2">
            <img src="./assets/group icon.svg" alt="arrow pointing right">
          </div>
          <div class="button-icon-container padding-bl-2">
            <img src="./assets/wellness-icon.svg" alt="arrow pointing right">
          </div>
        </div>
      </div>

      <div class="quick-workout-container button--start clickable-card color-br--shade--dark round-corners--primary rowgap">
        <div class="button--start-left">

          <div class="start--row-container">
            <h3 class="pm-0 header-2 padding-top-06 padding-left-1 color-text--swhite">Quick Workout</h3>
          </div>

          <div class="start--row-container start--flex-row">
            <h4 class="pm-0 header-4 padding-bottom-06 padding-left-1 color-text--swhite">Recommended:</h4>
            <h4 class="pm-0 header-4 padding-bottom-06 padding-left-1 color-text--swhite">Yoga E+</h4>
          </div>

        </div>

        <div class="button--start-right">
          <div class="button-icon-container color-br--shade--dark">
            <img src="./assets/arrow-circle-right--white.svg" alt="arrow pointing right">
          </div>
        </div>

      </div>

    </div>
  </div>
</body>
</html>
