<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/component-start.css">
  <link rel="stylesheet" href="./css/general.css">
</head>
<body>
  <!-- do not include in angular elements with data-include="no" tag-->
  <div class="show-container" id="no-include" data-include="no">
    <div class="start-component-container round-corners--primary frame-shadow--primary">

      <h1 class="title-1 color-text--swhite text--centered margin-top-1">Nice to see you, Jessica</h1>
      <h1 class="title-1 color-text--swhite text--centered margin-top-2">Time for:</h1>

      <div class="sched-workout-container button--start clickable-card color-br--shade--dark">
        <div class="button--start-left">

          <div class="start--row-container">
            <h3 class="">Scheduled Workout</h3>
          </div>

          <div class="start--row-container start--flex-row">
            <h4 class="">Friday</h4>
            <h4 class="">HIIT M+</h4>
          </div>

        </div>

        <div class="button--start-right">
          <div class="button-icon-container">
            <img src="./assets/arrow-circle-right--white.svg" alt="arrow pointing right">
          </div>
        </div>

      </div>

      <div class="custom-workout-container button--start-multiple clickable-card color-br--shade--dark">
        <div class="start--row">
          <h3 class="">Custom Selection</h3>
        </div>
        <div class="start--row">
          <h3 class="">Open Workout Library</h3>
        </div>
        <div class="button-row">
          <div class="button-icon-container">
            <img src="./assets/focus icon.svg" alt="arrow pointing right">
          </div>
          <div class="button-icon-container">
            <img src="./assets/group icon.svg" alt="arrow pointing right">
          </div>
          <div class="button-icon-container">
            <img src="./assets/wellness-icon.svg" alt="arrow pointing right">
          </div>
        </div>
      </div>

      <div class="quick-workout-container button--start clickable-card color-br--shade--dark">
        <div class="button--start-left">

          <div class="start--row-container">
            <h3 class="">Quick Workout</h3>
          </div>

          <div class="start--row-container start--flex-row">
            <h4 class="">Recommended:</h4>
            <h4 class="">Yoga E+</h4>
          </div>

        </div>

        <div class="button--start-right">
          <div class="button-icon-container">
            <img src="./assets/arrow-circle-right--white.svg" alt="arrow pointing right">
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
